<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <% const matkul = "Pemrograman Web" %>
        <h1>Menu:
            <%= matkul%>
        </h1>
        <h1>Name:
            <%= name%>
        </h1>
        <h1>NIM:
            <%= nim%>
        </h1>
        <ul>
            <li>
                <a href="http://localhost:3000/v1/profile">Profile</a>
            </li>
            <li>
                <a href="http://localhost:3000/v1/listmhs">List Mahasiswa</a>
            </li>
        </ul>

</body>

</html>